/***login page style***/
.login-box {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.login-box h1 {
        float: left;
        font-size: 40px;
        border-bottom: 6px solid rgba(65, 206, 31, 0.87);
        margin-bottom: 50px;
        padding: 13px 0;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid rgba(65, 206, 31, 0.87);
}

    .textbox i {
        width: 26px;
        float: left;
        text-align: center;
    }

    .textbox input {
        border: none;
        outline: none;
        background: none;
        color: white;
        font-size: 18px;
        width: 80%;
        float: left;
        margin: 0 10px;
    }

.btn {
    width: 100%;
    background: none;
    border: 2px solid rgba(65, 206, 31, 0.87);
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}
.Icons i {

    color:blue;
}
.Menu ul li{
    color:white;
}





/***Login Page Design End ***/

/**** General Header And Body Design****/
body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}


/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url('../images/logo_large.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 8px 10px 8px 0;
}

.navbar-brand {
  padding-top: 15px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .5em;
  margin-top: 10px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}
.navbar-header button.navbar-toggle,.navbar-header .icon-bar
{
  border: 1px solid #61122f;
}
.navbar-header button.navbar-Toggle{
  clear:both;
  margin-top: -30px;
}
#nav-list{
  margin-top: 10px;
}
ul li:hover
{
    color:#00EB2B;
}
#nav-list a{
  color:#951C49;
  text-align: :center;
}
#nav-list a:hover{
  background: :#E7E7E7;
}
#nav-list a span{
  font-size: :1.8 em;
}
.pointer_zoom:hover
{
  font-size: 14px;
}

#IGP-tile, #Rasta-App-tile, #map-tile{
  height: 250px;
  width: 70%;
  margin-bottom: 10px;
  margin-left: 30px;
  position: relative;
  border:2px solid #3F0C1F;
  overflow: hidden;
}
#IGP-tile:hover, #Rasta-App-tile:hover, #map-tile:hover{
box-shadow: 0px 1px 5px 1px #cccccc;
}
#IGP-tile{
  background: url('../images/IGP.PNG') no-repeat;
  background-position: center;
}
#Rasta-App-tile{
  background: url('../images/Rasta App.PNG') no-repeat;
  background-position: center;
}

#IGP-tile span, #Rasta-App-tile span, #map-tile span{
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  text-align: center;
  font-size: 1.6 em;
  text-transform: uppercase;
  background-color: #000;
  color: #228B22;
  opacity: 1;
}
/**************Large Device**********/
@media (min-width:1200px) {
}
/*************Medium Device**********/
@media (min-width:992px) and (max-width:1199px) {
  /*HEADER*/
  #logo-img {
    background: url('../images/logo_medium.png') no-repeat;
    width: 150px;
    height: 150px;
    margin: 5px 5px 5px 0;
  }
  /*end header*/
}

/*************Small Device**********/
@media (min-width:768px) and (max-width:991px){
  #logo-img {
    background: url('../images/logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
}
/*************Extra Small*********/
@media (max-width:767px){
  /*header*/
.navbar-brand{
  padding-top: 10px;
  height: 80px;
}

.navbar-brand h1{/*CID Name*/
  padding-top: 10px;
  font-size: 5vw;/*1% of viewport width*/
}

.navbar-brand p {/*Tagline*/
  font-size: .6em;
  margin-top: 12px;
}
.navbar-brand p img{/*eagel logo*/
  height:20px;
}
#collapsable-nav a{/* collapsable nav glphicons*/
font-size: 1.2em;
}

#collapsable-nav a span{/* collapsable nav glphicons*/
font-size: 1.0em;
margin-right: 5px;
}
}
/**** General Header And Body Design****/


/****Cases.html****/

Usama Add Cases Page Design  Here




/****FIR Design****/
button{
  border: 1px solid #338033;
  font-size: 18px;
  border-radius: 0px;
}
button{
  background: none;
  width: 120px;
  height: 50px;
  text-align: center;
  color: #EBDFE1;
  font-size: 20px;
  font-family:Arial Black,sans-serif;
}
#FIRbtn{
  background-color:#338033;
  float: right;
  width: 100px;
  height: 50px;
  border: 2px solid  #338033;
  font-size: 18px;
  border-radius: 20px;
  overflow: hidden;
  margin-right:20px;
}
#FIRbtn:hover{
  background: #C71C36;
  transition: .6s;
  cursor: pointer;
}

#FIRbtn2{
  background-color:#338033;
  float: left;
  width: 100px;
  height: 50px;
  border: 2px solid  #338033;
  font-size: 18px;
  border-radius: 20px;
  overflow: hidden;
  margin-right:20px;

}
#FIRbtn2:hover{
  background: #C71C36;
  transition: .6s;
  cursor: pointer;
}




.firRegForm
{
  width:800px;
  background-color:rgb(0,0,0,0.6);
  margin: auto;
  color: #FFFFFF;
  padding: 10px 0px 10px 0px;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
}
.main{
  background-color:rgb(0,0,0,0.3);
  width:800px;
  margin: auto;
}
form{
  padding: 10px;
}
#name{
  width: 100%;
  height: 100px;
}
.name{
  margin-left: 25px;
  margin-top: 30px;
  width:125px;
color: white;
font-size: 18px;
font-weight: 700;
}
.firstname{
  position:relative;;
  left: 200px;
  top: -37px;
  line-height: 40px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
}
.lastname{
  position: relative;
  left:417px;
  top:-80px;
  line-height: 40px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
}
.firstlabel{
  position: relative;
  color:#E5E5E5;
  text-transform:capitalize;
  font-size: 14px;
  left: 203px;
  top:-45px;
}
.lastlabel{
  position: relative;
  color:#E5E5E5;
  text-transform:capitalize;
  font-size: 14px;
  left: 500px;
  top:-80px;
}
.company{
  position: relative;
  left: 200px;
  top:-37px;
  line-height: 40px;
  width: 532px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color:#555;
}
.email
{
  position: relative;
  left: 200px;
  top:-37px;
  line-height: 40px;
  width: 400px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color:#555;
}
.tel{
text-align: center;
  position: relative;
  left: 200px;
  top:-37px;
  line-height: 40px;
  width: 180px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color:#555;
}
.number{
  text-align: center;
  position: relative;
  left: 200px;
  top:-37px;
  line-height: 40px;
  width: 170px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color:#555;
}
.tel-number
{
  position: relative;
  text-transform: capitalize;
  color:#E5E5E5;
  font-size: 16px;
  left: 150px;
  top:-2px;
}
.phone-number{
  position: relative;
  text-transform: capitalize;
  color:#E5E5E5;
  font-size: 16px;
  left: 50px;
  top:-2px;
}
.option{
  position: relative;
  left: 200px;
  top:-37px;
  line-height: 40px;
  margin-bottom: 30px;
  width: 532px;
  height: 40px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color:#555;
  outline: none;
  overflow: hidden;
}
.option option{
  font-size: 20px;
}
.date
{
  position: relative;
  left: 200px;
  top:-37px;
  line-height: 40px;
  width: 80px;
  margin-right: 30px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color:#555;
}
.crime
{
  position: relative;
  left: 200px;
  top:-60px;
  line-height: 100px;
  width: 532px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color:#555;
  overflow:hidden;
}
.checkmark
{

  margin-left: 5px;
  left: -500;
  color: white;
  font-size: 20px;
  margin-top: 300px;
}
.radio{
  display: inline-block;;
  padding-right: 40px;
  font-size: 25px;
  margin-left: 5px;
margin-bottom: 50px;
  color: white;
  left: 100px;
}
.radio input{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  margin-top: 20px;
}
.submit{
  background-color: #3BAF9F;
  display: block;
  margin: 10px 10px 10px 10px;
  text-align: center;
  border-radius: 30px;
  width: 150px;
  border: 2px solid #366473;
  outline:none;
  color: white;
  cursor: pointer;
  transition: 0.25px;
}
.submit:hover{
  background-color:#800000;
}
/****FIR Design End****/

/***Cases.html Design End***/
